In [ ]:
-- SQL query that returns user details including total spent and conversion status
WITH cte_joined_data AS (
  SELECT 
    u.id, u.country, u.gender, g."group" AS group_ab, g.join_dt, g.device AS device, 
    a.dt, a.device AS activities_device, a.spent
  FROM 
    users AS u
    LEFT JOIN groups AS g ON u.id = g.uid
    LEFT JOIN activity AS a ON u.id = a.uid
), ready_data AS (
  SELECT 
    id, group_ab, country, gender, device, 
    COALESCE(SUM(spent), 0) AS total_spent, 
    (CASE WHEN COALESCE(SUM(spent), 0) > 0 THEN 1 ELSE 0 END) AS converted
  FROM 
    cte_joined_data
  GROUP BY 
    id, 2, 3, 4, 5
)
SELECT *  
FROM 
  ready_data;

-- SQL query that includes the date along with user details
WITH cte_joined_data AS (
  SELECT 
    u.id, u.country, u.gender, g."group" AS group_ab, g.join_dt, g.device AS device, 
    a.dt, a.device AS activities_device, a.spent
  FROM 
    users AS u
    LEFT JOIN groups AS g ON u.id = g.uid
    LEFT JOIN activity AS a ON u.id = a.uid
), ready_data AS (
  SELECT 
    id, group_ab, country, gender, device, join_dt, 
    COALESCE(SUM(spent), 0) AS total_spent, 
    (CASE WHEN COALESCE(SUM(spent), 0) > 0 THEN 1 ELSE 0 END) AS converted
  FROM 
    cte_joined_data
  GROUP BY 
    id, 2, 3, 4, 5, 6
)
SELECT *  
FROM 
  ready_data
ORDER BY 
  total_spent DESC;

-- Additional queries related to cumulative conversion rates
WITH join_dt_agg AS (
  -- CTE 1: Calculate user count in each test group per join date
),
convert_dt_agg AS (
  -- CTE 2: Calculate converted user count in each test group per conversion date
),
cumulative_users AS (
  -- CTE 3: Combine user counts and converted user counts, calculating cumulative sums
),
cumulative_conversion AS (
  -- CTE 4: Calculate cumulative conversion rate for each test group and date
)
-- Final query: Compare cumulative conversion rates between test groups A and B for each date
SELECT 
  a.dt,
  a.cum_conversion_rate AS a_cum_convert,
  b.cum_conversion_rate AS b_cum_convert,
  b.cum_conversion_rate - a.cum_conversion_rate AS cum_diff
FROM 
  cumulative_conversion AS a
  INNER JOIN cumulative_conversion AS b ON a.dt = b.dt
    AND a.test_group = 'A' AND b.test_group = 'B';